@import '../../node_modules/sass-basis/src/css/basis-core';

.p-footer-cta {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: var(--_lighter-color-gray);
	color: var(--_color-text);
	@include _set-font-size-level(-2);
	line-height: 1.5;
	padding-bottom: env(safe-area-inset-bottom);
	@include _transition(opacity);

	&[aria-hidden="true"] {
		visibility: hidden;
		opacity: 0;

		* {
			visibility: hidden !important;
		}
	}

	&__close-btn {
		position: absolute;
		top: calc(1.5rem * -1 / 2);
		left: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: none;
		border-radius: 100%;
		background-color: rgba(#000, .8);
		color: var(--wp--preset--color--white);
		line-height: 1;
		@include _set-font-size-level(-1);
		height: 1.5rem;
		width: 1.5rem;
		padding: 0;
		opacity: 1;
		@include _transition(opacity);

		@include _media-min(lg) {
			left: var(--_s-2);
			opacity: .4;
		}

		@include _hover() {
			opacity: 1;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 44px;
			width: 44px;
			content: '';
			display: block;
			transform: translate(-50%, -50%);
		}
	}

	> .#{ $_prefix }c-container {
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);
	}

	.#{ $_prefix }c-row + .#{ $_prefix }c-row {
		padding-top: var(--_padding-2);
	}

	.#{ $_prefix }c-btn {
		@include _set-font-size-level(-1);
		padding: var(--_padding-1);

		@include _media-min(md) {
			padding: var(--_padding-1) var(--_padding1);
		}
	}
}
